.page-container {
  width: 100vw;
  flex-grow: 1;
  display: flex;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.editable-container {
  position: relative; /* Required for positioning the overlay */
  transition: all 0.3s ease; /* Smooth transition for dimming */
  overflow: hidden; /* Ensures the overlay stays within the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.item-container {
  height: 100%;
  width: 100%;
}

/* Hover effect for dimming */
.editable-container.hovered::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimming effect */
  z-index: 1; /* Ensures it appears above content but below text */
  pointer-events: none; /* Allows interaction with content */
}

/* Overlay text for editing */
.editable-container-edit-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 2; /* Places text above the dimming overlay */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); /* Improves readability */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth fade-in */
  font-size: 5rem;
}

/* Show the overlay text when hovered */
.editable-container.hovered .editable-container-edit-overlay {
  opacity: 1; /* Makes text visible */
}

.titledesc-container {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titledesc-img {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  height: 100%;
  width: 100%;
  filter: brightness(60%);
}

.titledesc-title {
  z-index: 1;
  color: white;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
}

.titledesc-desc {
  z-index: 1;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* Logo Animation Container */
.logo-animation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--skella-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: fadeBackground 1.5s ease forwards;
  user-select: none;
  overflow: hidden;
}

/* Logo */
.logo {
  width: 45%; /* Adjust as needed */
  animation: logoSequence 1.5s ease forwards;
}

/* Keyframes for the logo */
@keyframes logoSequence {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(2);
  }
  60% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1.9);
    display: hidden;
    z-index: -10;
  }
}

/* Keyframes for the background fade-out */
@keyframes fadeBackground {
  0% {
    background-color: white;
  }
  95% {
    background-color: white;
  }
  100% {
    background-color: transparent;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}