
.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-video-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - min(9rem, max(15vw, 6rem)));
}

.home-video {
  filter: brightness(70%);
}

.home-video-text-container {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  max-width: 650px;
}

.home-video-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-style: italic;
  font-size: min(6rem, max(12vw, 4rem));
  color: var(--skella-blue);
  -webkit-text-stroke: 1px white;
  margin: 0;
}

.home-video-subtitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: min(3.5rem, max(8vw, 2rem));
  letter-spacing: 0.5px;
  margin: 0.5rem 1rem 0.5rem 0;
}

.home-date-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.home-date-line {
  height: 4px;
  margin: 0;
  margin-right: 20px;
  flex-grow: 1;
  border-radius: 5px;
  background-color: white;
}

.home-date-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  font-size: min(2rem, max(5vw, 1rem));
  margin: 0;
}

.home-service-section {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, height 0.3s ease;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 40rem;
  margin: 0.1rem 0 0.1rem 0;
}

.home-service-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.home-service-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  transition: background-color 0.3s ease;
}

.home-service-section:hover .home-service-dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.home-service-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-section-title {
  margin: 8rem 2rem 0 2rem;
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.home-section-desc {
  text-align: center;
  margin: 2rem 0 7rem 0;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.home-section {
  width: 100%;
}

.background-blue-to-sand {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(74, 163, 224, 0.5),
    #ffffff 30%,
    #ffffff 60%,
    rgba(215, 190, 165, 0.8)
  );
}

.background-sand-to-blue {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(215, 190, 165, 0.8),
    #ffffff 30%,
    #ffffff 60%,
    rgba(74, 163, 224, 0.5)
  );
}

.background-sand-to-blue-rl {
  width: 100%;
  background: linear-gradient(
    to bottom left,
    rgba(215, 190, 165, 0.8),
    #ffffff 30%,
    #ffffff 60%,
    rgba(74, 163, 224, 0.5)
  );
}

.background-blue-to-white {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(74, 163, 224, 0.5),
    #ffffff 30%
  );
}

.background-sand-to-white {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(215, 190, 165, 0.8),
    #ffffff 40%
  );
}

.background-to-blue {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #ffffff 60%,
    rgba(74, 163, 224, 0.5)
  );
}

.review-container {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.reviews-title {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 2rem 1rem 2rem;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  font-size: 20px;
  margin-right: 3px;
  color: #fbc02d; /* Gold for stars */
}

.review-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin: 0;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  margin: 0 0 2rem 0;
}

.review-date {
  font-size: 1.4rem;
  color: #555;
  text-align: end;
  margin: 1rem 3rem;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.stat-number-container {
  display: flex;
  align-items: center;
}

.stat-number {
  font-size: 3rem;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.stat-symbol {
  font-size: 3rem;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.stat-text {
  font-size: 1.2rem;
  margin: 0;
  color: white;
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
}

.stats-section {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
  overflow: hidden;
}

.stats-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.stat-pic {
  height: 20rem;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 300%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .home-service-title {
    font-size: min(5rem, max(8vw, 2rem));
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .home-service-description {
    font-size: 2rem;
    font-size: min(2rem, max(5vw, 1rem));
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1024px) {

  .home-service-title {
    font-size: min(5rem, max(8vw, 2rem));
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateY(20px);
    transition: transform 0.7s ease;
  }
  
  .home-service-description {
    font-size: 2rem;
    font-size: min(2rem, max(5vw, 1rem));
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.7s ease;
  }
  
  .home-service-section:hover .home-service-title {
    transform: translateY(-5px);
  }
  
  .home-service-section:hover .home-service-description {
    opacity: 1;
  }
}