.experience-container {
    display: flex;
    flex-direction: column;
    background: var(--skella-light-blue);
}

.experience-outer-box {
    box-shadow: 0 0 2rem var(--skella-dark-blue);
    margin: 0;
    padding: 0;
}

.experience-box {
    padding: 2rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--skella-medium-blue) 10%, var(--skella-dark-blue) 100%);
}

.avant-apres-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-box-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure spacing between images */
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.experience-box-image-container.moved {
    transform: translateX(calc(-90vw - 2px));
}

.experience-box-image {
    width: calc(80vw - 1px);
    display: flex;
    border-radius: 0rem;
    border: 1px solid white;
}

.experience-box-image.before {
    margin-left: calc(10vw + 1px);
}

.experience-box-image.after {
    margin-right: calc(10vw - 1px);
}

.experience-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 10vw;
    max-width: 10vw;
    transition: margin 0.5s ease-in-out;
}

.experience-arrow.left {
    margin: 0 0.5rem 0 -0.5rem;
}

.experience-arrow.right {
    margin: 0 -0.5rem 0 0.5rem;
}


.experience-arrow-tip {
    height: 2rem;
    width: 2rem;
    border-top: 5px solid var(--skella-white);
    border-right: 5px solid var(--skella-white);
    transition: transform 0.5s ease-in-out;
}

/* Arrow direction logic */
.experience-arrow-tip.left {
    transform: rotate(45deg); /* Default points left */
}

/* Arrow direction logic */
.experience-arrow-tip.right {
    transform: rotate(-135deg);
}

.experience-box-desc {
    font-size: 1.8rem;
    color: var(--skella-white);
    margin: 1rem 10vw 1rem 10vw;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.avant-apres-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
    gap: 1rem;
}

.aabutton {
    background: var(--skella-white);
    color: var(--skella-dark-blue);
    border: 0.1rem solid var(--skella-dark-blue);
    border-radius: 0.5rem;
    padding: 0.3rem 0.9rem;
    filter: brightness(50%);
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    transition: filter 0.5s ease, padding 0.5s ease, font-size 0.5s;
}

.aabutton.moved {
    filter: brightness(100%);
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
}

.galery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    background-color: var(--skella-medium-blue);
}

.galery-item {
    width: 90%;
    margin: 0 auto;
    border: 0.2rem solid var(--skella-white);
    border-radius: 0.2rem;
}

.galery-image {
    width: 100%;
    position: relative;
    border-radius: 0.2rem;
}

.galery-text {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    height: 100%;
    width: calc(100% - 3rem);
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 0 3rem;
}

.galery-text.clicked {
    opacity: 1;
}