@media only screen and (max-width: 767px) {
  .machine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0 4vw 0;
  }

  .machine-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: max(2rem, 3.5vw);
  }

  .machine-image {
    width: min(100vw, 60rem);
    border: 1px solid grey;
  }

  .machine-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    width: 78vw;
  }
}