.contact-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--skella-white);
}

.contact-container-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.calendly-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  width: 30rem;
  margin-bottom: 4rem;
}

.calendly-container > button {
  font-size: 3rem;
  background-color: var(--skella-medium-blue);
  color: var(--skella-white);
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  letter-spacing: 0.1rem;
}

.contact-rdv-title {
  font-size: 3rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 6rem 2rem 4rem 2rem;
}

.contact-header-h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 3rem 5rem 1rem 5rem;
  color: var(--skella-dark-blue);
}

.contact-header-h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 3rem 5rem 3rem 5rem;
  color: var(--skella-dark-blue);
}

.contact-header-h2-c {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 2rem 3rem;
  color: var(--skella-dark-blue);
}

.contact-socials-c {
  align-self: center;
  display: flex;
  gap: 3rem;
  margin: 1rem 0 4rem 0;
}

.contact-social-c {
  min-width: 7.5rem;
  min-height: 7.5rem;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--skella-dark-blue);
  gap: 1rem;
}

.contact-icon-container {
  border-radius: 5rem;
  padding: 2rem;
  background-color: var(--skella-dark-blue);
}

.contact-icon {
  height: 4rem;
  width: 4rem;
  color: var(--skella-white);
}

.contact-div {
  width: 85vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.contact-div-button {
  width: 85vw;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
}

.contact-div-text {
  font-size: 3rem;
  margin: 2rem 0 3rem 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: var(--skella-dark-blue);
}

.header-container-contact {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.header-container-title-contact {
  font-size: 4.5rem;
  font-family: 'Roboto', sans-serif;
  color: var(--skella-dark-blue);
  font-weight: bold;
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.header-container-contact-img {
  position: absolute;
  width: 100vw;
  height: 30rem;
  z-index: -1;
  filter: brightness(95%);
}

.contact-link-button {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--skella-dark-blue);
  text-decoration: underline;
  margin: 0;
  justify-content: center;
}

.contact-icon-button {
  height: 2rem;
  width: 2rem;
}

.contact-text-button {
  letter-spacing: 0.1rem;
  margin: 0;
  font-size: 2.2rem;
}

.contact-text-text {
  letter-spacing: 0rem;
  margin: 0;
  font-size: 2.2rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
}