#contact-button {
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}