@media screen and (max-width: 768px) {
  #menu {
    background-color: var(--background-color);
    position: fixed;
    height: calc(100vh - 70px);
    width: 100%;
    top: 70px;
    transition: left 0.5s ease;
  }

  .menu-invisible {
    left: 100%;
  }

  .menu-visible {
    left: 0;
  }
}

@media screen and (min-width: var(--tablet-portrait)) {
  #menu {
    
  }
}

@media screen and (min-width: var(--tablet-landscape)) {
  #menu {
    
  }
}

@media screen and (min-width: var(--monitor)) {
  #menu {
    
  }
}

@media screen and (min-width: var(--large-monitor)) {
  #menu {
    
  }
}