.menu-button {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: max(3rem, min(5.8rem, 10vw));
  letter-spacing: 0.1rem;
  font-weight: 300;
  padding: 0px;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}