.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
}

.edit-modal-title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.edit-modal-item {
    margin-top: 2rem;
}

.edit-modal-label {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.edit-modal-input {  
    width: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 4px;
    font-family: inherit;
}

.edit-modal-input:focus {
    outline: none;
    border-color: rgb(100, 100, 100);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.edit-modal-textarea {
    width: calc(100% - 2rem);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 4px;
    resize: vertical;
    font-family: inherit;
    line-height: 1.5;
    padding: 1rem;
}

.edit-modal-textarea:focus {
    outline: none;
    border-color: rgb(100, 100, 100);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.edit-modal-image {
    width: calc(100% - 2rem);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 4px;
    font-family: inherit;
    padding: 1rem;
}

.edit-modal-image-preview {
    max-height: 5rem;
}

.edit-modal-button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.edit-modal-button {
    color: white;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 0.5rem 0 0.5rem;
}

.edit-modal-button-clear {
    color: black;
}

.edit-modal-button-green {
    background-color: #4CAF50;
}

.edit-modal-button-red {
    background-color: red;
}

.edit-modal-sizedepth {
    margin-top: 1rem;
}

.sizedepth-inputs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.sizedepth-add-button {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sizedepth-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sizedepth-list li {
    margin: 0.5rem 0;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}