:root {
  font-size: 62.5%; /* Sets 1rem = 10px (16px * 0.625) */
  background-color: white;

  /* Variables */
  --main-color: #eeeeee;
  --secondary-color: black;
  --skella-blue: blue;
  --skella-grey: grey;
  --skella-white: #eeeeee;
  --skella-light-blue: #c9def5;
  --skella-dark-blue: #00142d;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.skella-white-color {
  color: var(--skella-white);
}

.skella-white-background {
  background-color: var(--skella-white);
}

.skella-light-blue-color {
  color: var(--skella-light-blue);
}

.skella-light-blue-background {
  background-color: var(--skella-light-blue);
}

.skella-dark-blue-color {
  color: var(--skella-dark-blue);
}

.skella-dark-blue-background {
  background-color: var(--skella-dark-blue);
}

.main-color {
  color: var(--main-color);
}

.main-color-background {
  background-color: var(--main-color);
}

.main-color {
  color: var(--main-color);
}

.main-color-background {
  background-color: var(--main-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-color-background {
  background-color: var(--secondary-color);
}

.skella-blue {
  color: var(--skella-blue);
}

.skella-blue-background {
  background-color: var(--skella-blue);
}

.skella-grey {
  color: var(--skella-grey);
}

.skella-grey-background {
  background-color: var(--skella-grey);
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.inview-container {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden {
  transform: translateY(10rem);
  opacity: 0;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}